#headerContainer {
    display: block;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 5;
}
.header {
    opacity: 95%;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #6a6a6a;
    border-bottom: solid;
    border-color: #9d9d9d;
    border-width: 3.5px;
}
    .headerBtn {
        background-color: transparent;
        border-color: transparent;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 50px;
    }
        .headerBtn:hover {
            filter: invert(40%);
        }
        .headerBtn:active {
            outline: none;
        }
    .logo {
        width: 40px;
        padding: 2px;
    }
        .logo:not(#menu):not(#ig) {
            border-radius: 4px;
        }
        #menu {
            width: 35px;
        }
        #ig {
            width: 32px;
            height: 32px;
            border: solid 2px #d9d9d9;
            border-radius: 10px;
        }
#headerContainer ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
#sideMenu {
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    position: fixed;
    display: none;
    overflow-x: hidden;
    background-color: #6a6a6a;
    border-left: solid 3.5px #9d9d9d;
    padding-top: 15px;
}
    #topRow {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        margin: 0;
        padding-bottom: 5px;
        border-bottom: solid 3.5px #9d9d9d;
    }
        #topRow li {
            vertical-align: top;
        }
        #topRowMenu {
            padding-right: 30px;
        }
    #sideItems {
        text-align: start;
    }
        #sideItems li {
            margin-left: 40px;
            padding-top: 35px;
            padding-bottom: 35px;
            border-bottom: solid 3.5px #9d9d9d;
        }
            #sideItems a:hover {
                color: #9d9d9d;
            }
    .currentPage {
        color: #9d9d9d;
    }
#close {
    height: 25px;
    width: 25px;
}
/* Footer  */
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}
footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #8d8d8d;
    text-shadow: none;
    margin: 2px;
    border-top: 1px solid #8d8d8d;
}
/* Responsive design */
#desktopHeader {
    display: none;
}
    #desktopHeader a,
    #desktopHeader a:hover {
        color: #d9d9d9;
    }
    #desktopHeader a:active {
        color: #9d9d9d;
    }
    #desktopBorder {
        height: 40%;
        border-left: solid 3.5px #9d9d9d;
    }
@media only screen and (min-width: 1280px) {
    #menuLi {
        display: none;
    }
    #desktopHeader {
        display: contents;
        border-left: solid 2px black;
    }
}