html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body:not(#headerBody) {
    background-color: #8d8d8d;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.container {
    display: flex;
    max-width: 80%;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* Site buttons */
.btnContainer {
    display: flex;
    padding: 0px;
    margin: 20px 0px 30px 0px;
    justify-content: center;
    align-items: center;
}
    .siteBtn {
        padding: 0px;
        background-color: #6a6a6a;
        border-bottom: solid 3.5px;
        border-right: solid 3.5px;
        border-color: #8d8d8d;
    }
        .siteBtn:hover {
            border: 0px;
            margin-top: 3.5px;
            cursor: pointer;
        }
        .siteBtn:hover > .btnTitles {
            text-decoration: none;
        }
        .siteBtn:active > .btnTitles {
            text-decoration: none;
            color: #6a6a6a;
        }
    .btnTitles {
        color: #fff;
        font-family: "Krona One", sans-serif;
        text-shadow: 1px 1px black;
        padding: 15px;
        padding-bottom: 5px;
    }
/* Landing page */
#landingContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
}
.landingBtns {
    margin: 20px;
}
    .landingBtns:hover {
        margin: 20px;
        margin-top: 23.5px;
        text-decoration: none;
    }
    .landingBtns:active {
        text-decoration: none;
    }
#artBtn {
    padding-left: 75px;
    padding-right: 75px;
}
/* Art and Commercial -pages */
.youtubeBtn {
    margin: 0px 5px 10px 5px;
    border-bottom: solid 3.5px;
    border-left: solid 3.5px;
    border-right: solid 3.5px;
    border-color: #8d8d8d;
}
    .youtubeBtn:hover, .youtubeBtn:active {
        border: 0px;
        margin: 3.5px 8px 8px 8px;
        text-decoration: none;
        color: #6a6a6a;
    }
        .youtubeBtn:active > .youtubeName {
            color: #9d9d9d;
        }
/* Button padding-bugs */
    .youtubeBtn:hover > .youtubeName,
    .youtubeBtn:active > .youtubeName
    {
        padding: 11px;
    }
    .youtubeImage {
        position: relative;
        z-index: 1;
        margin-bottom: -5px;
        height: 250px;
        width: 400px;
        object-fit: cover;
    }
.selfImages {
    object-fit: cover;
    border-top: solid 3.5px;
    border-bottom: solid 3.5px;
    border-color: #8d8d8d;
    margin-bottom: 40px;
}
#whoamiImage {
    width: 650px;
    height: 180px;
}
#contactImage {
    width: 650px;
    height: 180px;
    object-position: 50% 35%;
}
/* Text pages  */
.textContainer {
    max-width: 90%;
}
.content:not(#portfolioContent) {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    margin-bottom: 20px;
}
#portfolioContent {
    width: inherit;
    margin-bottom: 40px;
}
/* Responsive design */
@media only screen and (min-width: 700px) {
    #whoamiImage {
        width: 100%;
        height: 200px;
    }
}
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    #portfolioContainer, #whoamiContainer, #contactContainer {
        max-width: 52%;
    }
}
@media only screen and (min-width: 1440px) {
    .container {
        max-width: 89%;
    }
    #portfolioContainer, #whoamiContainer, #contactContainer {
        max-width: 46%;
    }
}
@media only screen and (min-width: 1920px) {
    #portfolioContainer, #whoamiContainer, #contactContainer {
        max-width: 35%;
    }
}
@media only screen and (min-width: 2560px) {
    .container {
        max-width: 83%;
    }
    #portfolioContainer, #whoamiContainer, #contactContainer {
        max-width: 30%;
    }
}