.content p,
.content b {
    align-self: flex-start;
}
.content ul {
    align-self: flex-start;
    padding-left: 15px;
    margin-bottom: 10px;
}
    .content ul ul {
        padding-left: 20px;
    }
li, h1, h2, h3 {
    font-family: "Krona One", sans-serif;
}
li:not(#desktopHeader li):not(.currentPage), h1, h2, h3 {
    color: #fff;
    font-family: "Krona One", sans-serif;
    text-shadow: 2px 2px black;
}
h2 {
    margin-bottom: 15px;
}
p, b {
    color: #fff;
    font-family: "Krona One", sans-serif;
    font-size: 15px;
}
p {
    text-shadow: 2px 1px black;
}
b {
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1.5px black;
}
li {
    font-size: 18px;
}
ul ul {
    font-size: 14px;
}
ul ul li {
    color: #d9d9d9;
}
a,
a:hover,
a:active {
    text-decoration: none;
}
a,
a:hover {
    color:#fff;
}
a:active {
    color: #9d9d9d;
}
/* Art ja Commercial -sivut */
.pageTitles {
    color: #fff;
    font-family: "Krona One", sans-serif;
    text-shadow: 3px 3px black;
    width: 100%;
    padding: 15px;
    padding-bottom: 25px;
    text-align: center;
}
.youtubeName {
    color: #fff;
    background-color: #6a6a6a;
    font-family: "Krona One", sans-serif;
    text-shadow: 1px 1px black;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 10px;
}
/* Whoami -texts */
.note {
    font-size: 12px;
    color: #d9d9d9;
}
    .note:first-of-type {
        margin-bottom: 7px;
    }
.small {
    font-size: 16px;
    margin-bottom: 2px;
}
/* Portfolio -page */
#portfolioContent ul {
    padding-left: 20px;
    margin-bottom: 10px;
}
#portfolioContent li {
    font-size: 15px;
    margin-bottom: 2px;
    color: #d9d9d9;
}
/* Whoami -page  */
#whoamiContent p,
#whoamiContent ul {
    max-width: 600px;
}
/* Contact -page  */
#contactContent p {
    font-size: 15px;
    text-align: center;
    align-self: center;
}
.contactLink,
.contactLink:hover {
    color: #d9d9d9;
}
    .contactLink:active {
        color: #9d9d9d;
    }